{% extends 'password_base.html' %}

{% block content %}

    <div class="container container-vcenter-outer">
        <div class="container-vcenter-middle">
            <div class="container-vcenter-inner form-wrapper">
                <form method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        {{ form.password.errors }}
                        <label for="{{ form.password.id_for_label }}">Пароль</label>
                        <input type="password" class="form-control"
                               name="password"
                               id="{{ form.password.id_for_label }}"
                               placeholder="Не менее 8 символов" required>
                    </div>
                    <div class="form-group">
                        {{ form.password_repeat.errors }}
                        <label for="{{ form.password_repeat.id_for_label }}">Пароль
                            еще
                            раз</label>
                        <input type="password" class="form-control"
                               name="password_repeat"
                               id="{{ form.password_repeat.id_for_label }}"
                               placeholder="Должен совпадать с первым" required>
                    </div>
                    {% for error in form.non_field_errors %}
                        <div class="alert alert-danger" role="alert">
                        <span class="glyphicon glyphicon-exclamation-sign"
                              aria-hidden="true"></span>
                            {{ error }}
                        </div>
                    {% endfor %}
                    <button type="submit"
                            class="btn btn-primary center-block password-submit-button">
                        OK
                    </button>

                </form>
            </div>
        </div>
    </div>

{% endblock content %}
